/* globals */
.btn-toolbar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}
.btn-toolbar button {
    background: transparent !important;
    border: 1px solid currentColor !important;
    font-weight: 300 !important;
    font-size: 1.1em !important;
    margin-top: 1em !important;
    padding: 0.33em 1.33em !important;
}
.btn-toolbar .btn-success {
    color: green !important;
}
.btn-toolbar .btn-danger {
    color: red !important;
}

.container {
    text-align: center;
    font-size: 120%;
}

.confirm-header {
    margin-bottom: 20px;
}

.btn-toolbar {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ngsc-container {
    text-align: center;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

.ngsc.panel-info {
    border-color: black;
}

.ngsc.panel-info > .panel-heading {
    background-color: black;
    background-image: none;
    color: white;
}

.ngsc.btn.btn-default {
    margin-left: 1em;
    background-color: gold;
    color: black;
    background-image: none;
    border-color: #d2b204;
    font-weight: 500;
}

.ngsc.btn.btn-default:hover {
    background-color: #d2b204;
}

h3.error {
    color: #ce1126;
}

@media screen and (max-width: 768px) {
    .form-group {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .has-feedback label ~ .form-control-feedback {
        top: 33px;
    }

    .container {
        font-size: 100%;
    }
}
