/* globals */
.container {
    text-align: center;
    font-size: 120%;
}

.confirm-header {
    margin-bottom: 20px;
}

.ngsc-container {
    text-align: center;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .form-group {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .has-feedback label ~ .form-control-feedback {
        top: 33px;
    }

    .container {
        font-size: 100%;
    }
}
