[MESSAGES CONTROL]
disable=
  missing-docstring,
  format,
  too-few-public-methods,
  duplicate-code,
  invalid-name,
  fixme,
  redefined-outer-name,
  inconsistent-return-statements,
  no-else-return,
  redefined-builtin,
  unused-argument,
  wrong-import-position,
  anomalous-backslash-in-string,
  too-many-locals,
  consider-iterating-dictionary

[SIMILARITIES]
ignore-imports=yes