/* Bio */

.image {
    width: 10em;
    height: 10em;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.bio {
    width: 200px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
}