/* App */

.outerContainer {
    height: 100%;
    text-align: center;
    font-size: 1.1em;
}

.mainContent {
    padding: 2em 2.5em;
}

@media screen and (max-width: 768px) {

    .outerContainer {
        font-size: 1em;
    }
}
