/* App */

.app {
    height: 100%;
    text-align: center;
    font-size: 1.1em;
}

.body {
    padding: 2.5%;
    padding-bottom: 6em;
}

@media screen and (max-width: 768px) {

    .body {
        font-size: 1em;
    }
}
