/* -------  Footer  ------- */

.container {
    width:100%;
    margin-top: 1em;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 6em;
    bottom: 0;
    background-color: black;
    z-index: 100;
}

.container p {
    color: white;
}

.container a {
    text-decoration: underline;
    color: white;
}

.container a:hover {
    color: gold;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}