/* Button */

.base {
    box-sizing: border-box;
    background: white;
    border: 1px solid currentColor;
    font-weight: 300;
    font-size: 1.1em;
    margin: 1em;
    padding: 0.33em 1.33em;
    transition: all 0.3s;
    cursor: pointer;
}

.base:disabled {
    cursor: not-allowed;
}

.neutral {
    composes: base;
    color: black;
    background: gold;
    border-color: #dcb700;
}

.neutral:hover {
    background: #dcb700;
}

.neutral:disabled {
    color: black;
    background: #eaeaea;
    border-color: #b7b7b7;
}

.neutral:disabled:hover {
    background: #b7b7b7;
}

.valid {
    composes: base;
    color: green;
}

.valid:hover {
    color: white;
    background: green
}

.invalid {
    composes: base;
    color: red;
}

.invalid:hover {
    color: white;
    background: red
}
