.logo {
    height: 5em;
    margin-bottom: 1em;
}

.container {
    background-color: #222;
    padding: 1em;
    margin-bottom: 2em;
    color: white;
}

.title {
    font-size: 2em;
    font-weight: 200;
}
