/* EventsView (overwrites of default styling) */

.rbc-toolbar {
    flex-wrap: wrap;
    justify-content: space-around;
}

.rbc-toolbar .rbc-toolbar-label {
    padding: 0.5em;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
    text-align: center;
}